* {
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
    color: rgb(245, 246, 247);
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-image: url(image.jpg/res.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% cover;
    height:100vh ;
  }
  
  .wrapper {     
    height: 360px;
    width: 360px;
    color: rgb(48, 47, 47);
    border-radius: 1rem;
    padding: 1.2rem;
    margin: 100px auto;
    background-color: transparent;
    border: 1px solid beige; 

  }
  .resName{
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .til{
    font-size: 25px;
    font-family: cursive;
    display: flex;
    justify-content: center;
  
  }
  .head{
    font-weight: bolder;
    font-size: 35px; 
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .sol{
    font-size: 25px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  #topContainer {
    margin-top: 2rem;
  }
  
  .container {
    margin-top: 1.6rem;  
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 0.6rem;
    font-size: 25px;
  }
  
  .inputContainer {
    background: #c4ad64;
    border-radius: 1.4rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
  }
  
  #billTotalInput,
  #tipInput {
    font-size: 1.2rem;
    background: none;
    border: none;
    outline: none;
    padding: none;
  }
  
  .buttonContainer {
    background: #c4ad64;
    display: grid;
    place-items: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
  }
  
  .splitButton {
    background: none;
    border: none;
  }
  
  .controls {
    display: flex;
    align-items: center;
  }
  
  .splitButton {
    font-size: 0.8rem;
    font-weight: bold;
    display: grid;
    place-items: center;
  }
  
  .buttonText {
    color: #000000 !important;
  }
  
  .splitAmount {
    font-size: 1.6rem;
    margin: 0.8rem;
  }
  
  #bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .totalContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .total {
    font-size: 2rem;
  }